@media (min-width: 1440px) and (width: 2560px) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2em;
    }

    .prev {
        opacity: 0.4;
    }

    .footer {
        border-top: 1px solid lightgrey;
        padding: 10px 0 0 0;
        justify-content: flex-end;

    }

    .footer ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
    }

    .copyright {
        text-align: right;
        padding-top: 10px;
    }

}

@media (min-width: 1024px) and (max-width: 1440px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .second-menu {
        padding-left: 65px;
    }

    .prev {
        opacity: 0.4;
    }

    .footer {
        border-top: 1px solid lightgrey;
        padding: 10px 0 0 0;
        justify-content: flex-end;

    }

    .footer ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
    }

    .copyright {
        text-align: right;
        padding-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        justify-content: normal;
    }

    .menu-button {
        display: inline;
        flex-basis: 21px;
        height: 24px;
        margin-top: 28px;
        margin-left: 80px;
        margin-right: 35px;
        cursor: pointer;


    }

    .header-right {
        padding-left: 45%;
        font-size: 17px;
        margin: 30px 40px 10px 0;
    }

    .hello {
        display: none;
    }

    .bell, .smile {
        width: 24px;
        height: 24px;
    }

    .notification {
        margin-right: 10px;
    }

    .container-left {
        display: none;
    }

    .container {
        flex-basis: 100%;
    }

    .menu-button:hover .menu {
        display: block;
    }

    .four, .five {
        display: none;
    }

    .footer {
        border-top: 1px solid lightgrey;
        padding: 10px 0 0 0;
        justify-content: flex-end;

    }

    .footer ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
    }

    .copyright {
        text-align: right;
        padding-top: 10px;
    }

    .prev {
        opacity: 0.4;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-right {
        padding-left: 27%;
        font-size: 16px;
    }

    .menu-button {
        margin-right: 25px;
        margin-top: 29px;
        margin-left: 70px;
    }

    .three, .four, .five, .dot, .eightynine {
        display: none;
    }

    .prev {
        opacity: 0.4;
    }

    .footer {
        border-top: 1px solid lightgrey;
        padding: 10px 0 0 0;
        justify-content: flex-end;

    }

    .footer ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
    }

    .copyright {
        text-align: right;
        padding-top: 10px;
    }

    .recommended, .my-events {
        border-radius: 25px;
        color: #465969;
        background-color: white;
    }

    .all-events {
        color: white;
        border-radius: 25px;
        background: #465969;
    }

    .container-left {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 425px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .logo, .notification {
        display: none;
    }

    .header-right {
        margin: 20px 48px 20px 0;

    }

    .bell, .smile {
        width: 35px;
        height: 35px;
    }

    .bell {
        margin-right: 23px;
    }

    .container-left {
        display: none;
    }

    .menu-button {
        display: inline;
        flex-basis: 21px;
        height: 24px;
        margin-top: 28px;
        margin-left: 80px;
        margin-right: 35px;
        cursor: pointer;

    }

    .hello {
        display: none;
    }

    .three, .four, .five, .dot, .eightynine {
        display: none;
    }

    .prev {
        opacity: 0.4;
    }

    .footer {
        border-top: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: flex-end;

    }

    .footer ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
    }

    .copyright {
        text-align: right;
        padding-top: 10px;


    }


}


